fieldset, div {
  margin-bottom: 20px;
}

fieldset label {
  font-weight: 400;
}

label, legend {
  padding-bottom: 5px;
  display: inline-block;
  font-weight: 800;
}

legend {
  padding-left: 0;
}

input[type="text"], [type="password"],
input[type="submit"], input[type="reset"], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid brown;
}

input[type="submit"], input[type="reset"] {
  margin-bottom: 20px;
}

[type="submit"]:hover, [type="reset"]:hover {
  background-color: chocolate;
  cursor: pointer;
}

[type="checkbox"], [type="radio"]
{
  width: 18px;
  height: 18px;
}

input[type="text"]:focus, [type="password"]:focus, textarea:focus {
  background-color: bisque;
}

fieldset {
  border: 0;
  padding: 0;
}
