<h2>Formularz</h2>

<pre>
{{ forma.value | json }}
  jest poprawna: {{forma.valid}}
</pre>

<form [formGroup]="forma" method="get" action="index.html" name="forma">

  <div (click)="zmien()">Zmien wartosc</div>

  <div>
    <label for="imieid">Imie</label>
    <input formControlName="imie" type="text" name="imie" id="imieid" placeholder="wpisz tutaj imie">
    <div *ngIf="forma.controls.imie.errors">
      Wystąpiły następujące błędy:
      <ul>
      <li *ngIf="forma.controls.imie.errors.required">Pole jest wymagane</li>
      <li *ngIf="forma.controls.imie.errors.minlength">Pole jest zbyt krótkie</li>
      <li *ngIf="forma.controls.imie.errors.pattern">Nie spełnia wzorca</li>
      </ul>
    </div>
  </div>

  <div>
    <label for="nazwiskoid">Nazwisko</label>
    <input formControlName="nazwisko" type="text" name="nazwisko" class="styl1 styl2" id="nazwiskoid" value="Nowak" placeholder="wpisz tutaj nazwisko">
    <div *ngIf="forma.controls.nazwisko.errors">Blad
      {{forma.controls.nazwisko.errors.poprawnyprzedzial}}
      </div>
  </div>

  <div>
    <label for="hasloid">Hasło</label>
    <input formControlName="haslo" type="password" id="hasloid" name="haslo" value="">
  </div>

  <fieldset>
    <legend>Płeć</legend>
    <label for="kid">Kobieta</label>
    <input formControlName="plec" type="radio" value="k" id="kid" name="plec">
    <label for="kid">Mężczyzna</label>
    <input formControlName="plec" type="radio" value="m" id="mid" name="plec">
  </fieldset>

  <fieldset [formGroup]="forma.controls.zyczenia">
    <legend>Specjalne bonusy</legend>
    <label for="cid">Chcę czekoladę</label>
    <input formControlName="x" type="checkbox" value="c" id="cid" name="x">
    <label for="coid">Chcę colę</label>
    <input formControlName="y" type="checkbox" value="k" id="coid" name="y">
  </fieldset>

  <div>
    <label for="szczepionkaid">Wybierz szczepionkę</label>
    <select formControlName="szczepionka" name="szczepionka" id="szczepionkaid">
      <option value="" disabled readonly selected>Wybierz</option>
      <option value="1">Corminaty</option>
      <option value="2">Novawax</option>
      <option value="3">Astra Zeneca</option>
    </select>
  </div>

  <div >
    <label for="uwagiid">Dodatkowe uwagi</label>
    <textarea formControlName="uwagi" name="komentarz" rows="10" id="uwagiid" cols="40"></textarea>
  </div>

  <input type="submit" *ngIf="forma.valid"
         value="Wyślij formularz" (click)="zapisz()">
  <input type="reset" value="Kasuj">

</form>
