<table border="1" width="100%">
  <caption>{{tytul}}</caption>
  <tr>
    <th>Nazwa</th>
    <th>Cena producenta</th>
    <th>Cena krajowa</th>
    <th>Kraj producenta</th>
    <th>Link do strony</th>
  </tr>
  <tr>
    <td>Novawax</td>
    <td>20USD</td>
    <td>22USD</td>
    <td rowspan="2">USA</td>
    <td>
      <a href="http://onet.pl" target="_blank">
        Onet
      </a>
    </td>
  </tr>
  <tr>
    <td>Corminaty</td>
    <td>15USD</td>
    <td>18USD</td>
    <td>
      <a href="http://onet.pl" target="_blank">
        Onet
      </a>
    </td>
  </tr>
  <tr>
    <td>Astra Zeneca</td>
    <td colspan="2">14USD</td>
    <td>GB</td>
    <td>
      <a href="index2.html" target="_blank">
        Nasz dokument
      </a>
    </td>
  </tr>
</table>


